body {
  background-color: #17344f;

}

.Navbar {
  display: flex;
  justify-content: space-between;
  font-size: medium;
  font-weight: bold;
  padding-right: 20px;
  border-bottom: 0px;
  background-color: #0d253f;
  color: white;
  margin: 0;
}

.UMC {
  font-size: large;
  padding-right: 700px;
  padding-left: 10px;
  font-weight: bold;
}

p {
  text-decoration: none;
  color: white
}

span {
  color: white;
}

p:hover {
  transform: scale(1.25);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  opacity: 0.3;
}